<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
	<string>/Users/<USER_NAME>/speedkeeper.js</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>Label</key>
    <string>speedkeeper</string>
</dict>
</plist>
